body {
    background-color: black;
}
.hamburger{
    display: block;
    height: 32px;
    width: 32px;
    /* color: white; */
    background: black;
    background-image: url('/src/assets/hamburger-icon.png');
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.hamburger-icon{
      height: 100%;
      width: 100%;
      
  }
/* HEADER */
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 25px;
  background: transparent;
}
.navigation{
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: flex-end;
}

.hidden{
    flex: 1;
}


.logo {
    color: white;
    font-size: 30px;
    margin-right: 32px;
    padding: 6px 12px;
}
.link {
    font-family:'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 8px 12px;
    color: white;
    margin-right: 4px;
    font-size: 14px;
    border-radius: 4px;
    
}
.link:focus{
    color: black;
    background: white;
    transition: .25s;
}
button {
    padding: 0;
    margin: 0;
    background: transparent;
    outline: none;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50px;
    overflow: hidden;
}
img {
    padding: 0;
}


@media only screen and (max-width: 375px) {
    body {
      background-color: lightblue;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation{
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 32px;
        align-items: center;
        justify-content:center;
        padding: 50px;
        width: 100%;
        background: black;
        transition: 0.3s;
    }

  }



